<div class="container">
  <div class="logo">
    <!-- Add your logo here -->
    <img src="https://www.itarian.com/images/computer-inventory.png" alt="Logo">
  </div>
  <h2>Create an account</h2>
 

  <form (ngSubmit)="register()">
    <div class="form-group">
      <input type="text" id="username" name="username" [(ngModel)]="username" placeholder="Username" required>
    </div>
    <div class="form-group">
      <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="Email address" required>
    </div>
    <div class="form-group">
      <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Password" required>
      <!-- Add show/hide password icon here -->
    </div>
    <button type="submit">Register</button>
  </form>
  <p>Already have an account? <a href="/login">Log in</a></p>

</div>
